

<div class="nav-container">
    <nav class="menu" id="nav">
        <span class="nav-item active">
            <span class="material-symbols-outlined">	
                home
                </span>
                <a href="{%url 'all-classes' %}">All classes</a>
            
            
        </span>
        <span class="nav-item">
            <span class="material-symbols-outlined">
                account_circle
                </span>
                <a href="{%url 'home-assignemts' %}">All Assignemts</a>
            
        </span>
        <span class="nav-item">
            <span class="material-symbols-outlined">
                apartment
                </span>
                <a href="{% url 'list-feedbacks' %}">All FeedBack</a>
        </span>
        <span class="nav-item">
            <span class="icon">
                <span class="material-symbols-outlined">
                    call
                    </span>		</span>
                    <a href="{% url 'exam-home'%}">Exams Home</a>
        </span>
    
        <span class="nav-item">
            
                <span class="material-symbols-outlined">
                    call
                    </span>		
            <a href="{% url 'services'%}">Contact and Services</a>
        </span>
        <div class="page">
            
            {% if request.user.is_authenticated %} 
{% comment %}             
            {% if request.user.is_staff %}			
            <span class="nav-item">
                <span class="icon">
                    <span class="subicon">.</span>
                    <i data-feather="bell"></i>
                </span>
                <a href="{% url 'restaurant-create'  %}">create Restaurant</a>
                
            </span>
        </div>
            <div>
            <span class="nav-item">
                <span class="icon">
                    <span class="subicon">.</span>
                    <i data-feather="bell"></i>
                </span>
                <div>
                    <h3><a href="{% url 'create-room' %}">Create Room</a></h3>
                </div>
            </span>
        
        </div>
        {% endif %}
        <div >
            <span class="nav-item">
                <span class="material-symbols-outlined">
                    logout
                    </span>`
                <a href="{% url 'logout-page' %}">LogOut</a>
            </span>
        </div>
            {% else %}
            <div >
            <span class="nav-item">
                <span class="icon">
                    <i data-feather="bell"></i>
                </span>
                <a href="{% url 'login-page'  %}">Login</a>
                
            </span>
            </div>
            {% endif %} {% endcomment %}
        </div>
    
    </nav>
    </div>