{% extends "base/main.html" %}
{% load static %}
{% block css_content %}
<link rel="stylesheet" href="{% static 'assignments/assignment_create.css' %}">
{% endblock css_content %}
{% block content %}
<div>{{user_type}}</div>
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %} 
    {% if user_type == 'student' %} 
    <div class="exam-form-container">
        <h2>Create Classes</h2>
        <form method="POST">
            {% csrf_token %}
            
            {% if form.errors %}
                <div class="form-errors">
                    <ul>
                        {% for field in form %}
                            {% if field.errors %}
                                <li>{{ field.label }}: {{ field.errors }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% for f in form %}
            
            <div class="form-group">
                {{ f.label_tag }}
                {{ f}}
            </div>
            {% endfor %}
            
            <button type="submit">Submit</button>
        </form>
    </div>
    {% elif user_type == 'teacher' %}
    {{ teacher_form.as_p }}
    {% elif user_type == 'admin' %} 
    {{ admin_form.as_p }}
    {% else %}
    {{ student_form.as_p }} 
    {% endif %} 
    <input type="submit" value="submit">
</form>
{% endblock content %}
