{% extends 'base/main.html' %}
{% block content %}
{% include "base/navigation_bar.html" %}

<div>
    <div><a href="{% url 'create-feedback' %}">Create Feedback</a></div>

    <div>ALL FEEDBACKS</div>
    
    {% for feedback in feedbacks %}
        <div class="student-name">{{feedback.student.username}}</div>
        <div class="teacher-name">{{feedback.teacher}}</div>
        <div class="duration">{{duration|get_item:feedback.id}}</div>
          <div>{{feedback.feedback_text}}</div>
    {% endfor %}
        
</div>
{% endblock content %}
