{% extends "base/main.html" %}

{% block content %}
{% include "base/navigation_bar.html" %}
<br>
<div>
    <div><a href="{% url 'create-assignment'%}">Create Assignment</a></div>
<br>
    {% for ass in assignments  %}
        <div>{{ass.title}}</div>
        {% comment %} <div><img src="/media/{{ass.description}}" width='200' alt=""></div> {% endcomment %}
        <div>{{ass.subject}}</div>
        <div>{{ass.assigned_date}} to {{ass.due_date}}</div>
    <div>{{ass.classgroup}}</div>
    <div>{{ass.assigned_by}}</div>
    <div><a href="{% url 'download_file' ass.id %}"><span class="material-symbols-outlined">
        download
        </span></a></div>
    <hr>
    <a href="{% url 'dish-order' dish.id %}">
        <div class="card-container">
          <div class="card u-clearfix">
            <div class="card-body">
              <span class="card-number card-circle subtle">{{dish.id}}</span>
              <span class="card-author subtle">{{ass.subject}}</span>
              <h2 class="card-title">{{ass.assigned_date}} to {{ass.due_date}}</h2>
              <span class="card-description subtle">{{ass.classgroup}}.</span>
              
                 {% comment %} <a href="{% url 'dish-order' dish.id %}"> <button class="button-85">Order</button> {% endcomment %}
            </div>
            {% comment %} <a href="{%   url 'dish-order' dish.id %}">
            <img src="/media/{{dish.dishImage}}/" alt="{{dish.dishImage}}" class="card-media" />
            </a> {% endcomment %}
            <div class="reviews">
                <a href="{% url 'download_file' ass.id %}"><span class="material-symbols-outlined">
                    download
                    </span></a>
            </div>
        
          </div>
          <div class="card-shadow"></div>
        </div>
        
        
        {% endfor%}
        
</div>
{% endblock content %}