{% extends "base/main.html" %}

{% block content %}
<div>
    
    {% for ass in assignments  %}
        <div>{{ass.title}}</div>
        <div><img src="/media/{{ass.description}}" width='200' alt=""></div>
        <div>{{ass.subject}}</div>
        <div>{{ass.assigned_date}}</div>
        <div>{{due_date}}</div>
    <div>{{ass.assigned_by}}</div>
    <div><span class="material-symbols-outlined">
        download
        </span></div>
    <hr>
    {% endfor %}
        
</div>
{% endblock content %}