{% extends 'base/main.html' %}
{% block content %}
<div class="container">
    
    {% for book in books %}
        
    
    <h2>Responsive Tables Using LI <small>Triggers on 767px</small></h2>
    <ul class="responsive-table">
        <li class="table-header">
        <div class="col col-1">Job Id</div>
        <div class="col col-2">Customer Name</div>
        <div class="col col-3">Amount Due</div>
        <div class="col col-4">Payment Status</div>
    </li>
    {% endfor %}
</ul>
</div>
{% endblock content %}