{% extends 'base/main.html' %}

{% block css %}{% endblock css %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    
    <!-- Display form errors -->
    {% if form.errors %}
        <div class="form-errors">
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
{% endblock content %}