{% extends 'base/main.html' %}
{% load static %}
{% block css_Content %}{% endblock css_Content %}

{% block css_content %}
<meta charset="UTF-8">
    <title>Exam Form</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function() {
            $("#id_test_date").datepicker({
                dateFormat: "yy-mm-dd"
            });
        });
    </script>
{% endblock css_content %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    
    {% if form.errors %}
        <div class="form-errors">
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
{% endblock content %}