{% extends "base/main.html" %}

{% block content %}
<div>
    
    {% for test in tests  %}
        <div>{{test.title}}</div>class Test(models.Model):
        title
        subject
        test_date
        conducted_by
        classgroup
        {% comment %} <div><img src="/media/{{ass.description}}" width='200' alt=""></div> {% endcomment %}
        <div>{{test.subject}}</div>
        <div>{{test.assigned_date}} to {{ass.due_date}}</div>
    <div>{{test.classgroup}}</div>
    <div>{{test.assigned_by}}</div>
    <hr>
    {% endfor %}
        
</div>
{% endblock content %}