{% load custom_filters %}

<!DOCTYPE html>
<html>
<head>
    <title>Attendance Data</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Student Name</th>
                {% for date in dates %}
                    <th>{{ date }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    {% for date in dates %}
                        <td>{{ attendance_data|get_item:student.id }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
