{% extends "base/main.html" %}
{% block content %}
<div>
    {% if request.user.is_authenticated %}
    <h3><a href="{% url 'logout-page' %}">Logout</a></h3>
    <div>
        <div><a href="{% url 'create-subject' %}">Create Subject</a></div>
        {# <div><a href="{% url 'create-student' %}">Create Student</a></div> #}
    </div>
{% else %}
    <h3><a href="{% url 'login-page' %}">Login</a></h3>
    <h3><a href="{% url 'register' %}">Register</a></h3>
{% endif %}
        
        
    </div>
     
 {% for cls in classes %}
        <div><a href="{% url 'attendance-list' pk=cls.id %}">{{cls.year}} {{cls.name}} </a></div>
    {% endfor %} 

<div><a href="{% url 'create-assignment'%}">Create Assignment</a></div>
<div><a href="{%url 'home-assignemts' %}">All Assignemts</a></div>
<br>
<div><a href="{% url 'exam-create' %}">Create Exam</a></div>   
<br>
<div><a href="{% url 'exam-home'%}">Exams Home</a></div> 
</div>
<div><a href="{% url 'create-classes' %}">Create Classes</a></div>

<div><a href="{%url 'all-classes' %}">All classes</a></div> 

<div><a href="{%url 'create-feedback' %}">Create Feedback</a></div>
<div><a href="{% url 'list-feedback' %}">All FeedBak</a></div>
{% endblock content %}


