
{% extends "base/main.html" %}
{% load  static %}
{% block css_content %}
<link rel="stylesheet" href="{% static 'base/send_mail.css' %}">
{% endblock css_content %}
{% block content %}
<div class="container">
    <div class="card">
      <div class="clg-name">Sm joshi</div>
      <div class="lock">Hadpasar</div>
      <div class="img-bx">
          <img src="/media/{{ student.profile }}" alt="img" />
      </div>
      <div class="content">
        <div class="detail">
          <h2>{{ student.name }}<br /><span>{{ student.contact }}</span><br /><span>{{ student.user.email }}</span></h2>
        </div>
      </div>
    </div>
    <a href="{% url 'download_id_card' student.id %}" class="btn btn-primary">
      <span class="material-symbols-outlined">download</span>
    </a>
  </div>
{% endblock content %}

<div class="subject">
    <input type="text" name="subject" placeholder="Subject">
</div>
<div class="text">
<textarea name="content" placeholder="enter text" cols="30" rows="20"id=""></textarea>
</div>
<input type="submit"  class="button-29"  value="Submit">